#content #tools {
    display: table;
    text-align: center;
    width: auto;
    margin: 10px auto;
    padding: 10px;
    text-shadow: 1px 1px 0 black;
    background-color: #666;
    box-shadow: 1px 1px 5px black;
    border: 1px solid #333;
    border-radius: 5px;
}

#content #tools a {
    color: white;
}

#content > div.item {
    display: inline-block;
    box-shadow: 5px 5px 5px grey;
    margin: 5px;
    padding: 5px;
    background-color: white;
}

#content > div.item:hover {
    box-shadow: 0 0 5px grey;
}

#content > div.item.protected {
    background-image: url('../img/protected.png');
    background-position: top left;
    background-repeat: no-repeat;
}

#content > div.item a,
#content > div.item p {
    display: block;
    text-align: center;
}

#content > div.item p {
    margin: 0;
    color: #186AB8;
}

#content > div.item .name {
    font-size: 0.7em;
}