.pagination {
    text-align: center;
    margin: 10px;
}

.pagination a,
.pagination span {
    display: inline-block;
}

.pagination a:hover {
    text-decoration: none;
}

.pagination .button {
    width: 25px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
}

.pagination span.button {
    opacity: 0.2;
}

.pagination .first {
    background-image: url(../img/first.png);
}

.pagination .previous {
    background-image: url(../img/previous.png);
}

.pagination .next {
    background-image: url(../img/next.png);
}

.pagination .last {
    background-image: url(../img/last.png);
}

.pagination a.page {
    padding: 3px 8px;
    background-color: #287AC8;
    color: white;
    margin-bottom: 2px;
    border-radius: 5px;
}

.pagination a.page:hover {
    text-decoration: none;
    background-color: #489AE8;
}

.pagination a.current {
    background-color: #085AA8;
    border: 3px solid #083A88;
}