a {
    color: #186AB8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    border: 1px solid #999;
    padding: 10px;
    background-color: white;
}

input, textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #FFFFFF url('bg_form.png') left top repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

textarea {
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
    box-shadow: rgba(0,0,0, 0.15) 0px 0px 8px;
}

form label {
    display: block;
    color: #999999;
}

input[type=submit] {
    width: 200px;
    padding: 10px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

header, footer {
    border: 5px solid #CCC;
    border-radius: 10px;
    background-color: #666;
    color: white;
    padding: 15px;
    box-shadow: 2px 2px 5px black;
    margin: 10px;
}

header a {
    color: #DDD;
}

header a:hover {
    color: white;
}

header #pageTitle {
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

header #menu {
    float: right;
}

header #menu a {
    display: inline-block;
    padding: 0 5px;
}

#content {
    border: 1px solid #999;
    border-radius: 10px;
    background-color: #CCC;
    margin: 10px;
}

footer {
    clear: both;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: underline;
}