a {
    color: #186AB8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, footer {
    border: 5px solid #CCC;
    border-radius: 10px;
    background-color: #666;
    color: white;
    padding: 15px;
    box-shadow: 2px 2px 5px black;
    margin: 10px;
}

header h1 {
    margin: 0;
    font-size: 1em;
    text-shadow: 1px 1px 1px black;
}

header a {
    color: #DDD;
}

header a:hover {
    color: white;
}

#gallery {
    border: 1px solid #999;
    border-radius: 10px;
    background-color: #CCC;
    margin: 10px;
}

#gallery > div.item {
    display: inline-block;
    box-shadow: 5px 5px 5px grey;
    margin: 5px;
    padding: 5px;
    background-color: white;
}

#gallery > div.item:hover {
    box-shadow: 0 0 5px grey;
}

#gallery > div.item a,
#gallery > div.item p {
    display: block;
    text-align: center;
}

#gallery > div.item p {
    margin: 0;
    color: #186AB8;
}

#gallery > div.item .name {
    font-size: 0.7em;
}

#gallery .pagination {
    text-align: center;
    margin: 10px;
}

#gallery .pagination a,
#gallery .pagination span {
    display: inline-block;
}

#gallery .pagination .button {
    width: 25px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
}

#gallery .pagination span.button {
    opacity: 0.2;
}

#gallery .pagination .first {
    background-image: url(../img/first.png);
}

#gallery .pagination .previous {
    background-image: url(../img/previous.png);
}

#gallery .pagination .next {
    background-image: url(../img/next.png);
}

#gallery .pagination .last {
    background-image: url(../img/last.png);
}

#gallery .pagination a.page {
    padding: 3px 8px;
    background-color: #287AC8;
    color: white;
    margin-bottom: 2px;
}

#gallery .pagination a.page:hover {
    text-decoration: none;
    background-color: #489AE8;
}

#gallery .pagination a.current {
    background-color: #085AA8;
    border: 1px solid #083A88;
}

footer {
    clear: both;
    text-align: center;
}